/* line 21, ../scss/cform.style.scss */
.cform-template, .cform-text input, .cform-checkbox, .cform-select, .cform-multiselect {
  padding: 3px;
  box-sizing: border-box;
  background-color: #dddddd;
  border: 1px solid #333333;
  cursor: pointer;
}
/* line 29, ../scss/cform.style.scss */
.cform-template:hover, .cform-text input:hover, .cform-checkbox:hover, .cform-select:hover, .cform-multiselect:hover {
  border-color: #0066ff;
}
/* line 34, ../scss/cform.style.scss */
.cform-template:focus, .cform-text input:focus, .cform-checkbox:focus, .cform-select:focus, .cform-multiselect:focus, .cform-template:active, .cform-text input:active, .cform-checkbox:active, .cform-select:active, .cform-multiselect:active {
  border-color: #0066ff;
  outline: 0;
}

/* line 40, ../scss/cform.style.scss */
.cform-control-template, .cform-select .cform-control {
  padding: 5px 10px;
  background-color: #333333;
  color: #fff;
}
/* line 46, ../scss/cform.style.scss */
.cform-control-template:hover, .cform-select .cform-control:hover {
  background-color: #333333;
}

/* line 51, ../scss/cform.style.scss */
.cform-text input {
  padding: 5px 10px;
  color: #000;
}

/* line 57, ../scss/cform.style.scss */
.cform-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 67, ../scss/cform.style.scss */
.cform-checkbox .cform-marker {
  display: none;
  width: 10px;
  height: 10px;
  background-color: #0066ff;
}
/* line 74, ../scss/cform.style.scss */
.cform-checkbox.checked .cform-marker {
  display: block;
}

/* line 80, ../scss/cform.style.scss */
.cform-select {
  padding: 0;
  position: relative;
  border: none;
}
/* line 91, ../scss/cform.style.scss */
.cform-select ul {
  position: absolute;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 109, ../scss/cform.style.scss */
.cform-select ul li {
  padding: 4px 8px;
}
/* line 112, ../scss/cform.style.scss */
.cform-select ul li.selected {
  color: #fff;
  background-color: #0066ff;
}
/* line 116, ../scss/cform.style.scss */
.cform-select ul li:hover {
  color: #000;
  background-color: #aaaaaa;
}
/* line 124, ../scss/cform.style.scss */
.cform-select:hover ul {
  max-height: 1000px;
}

/* line 130, ../scss/cform.style.scss */
.cform-multiselect {
  padding: 0;
}
/* line 134, ../scss/cform.style.scss */
.cform-multiselect ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
  background-color: #dddddd;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 146, ../scss/cform.style.scss */
.cform-multiselect ul li {
  padding: 4px 8px;
}
/* line 149, ../scss/cform.style.scss */
.cform-multiselect ul li.selected {
  color: #fff;
  background-color: #0066ff;
}
/* line 153, ../scss/cform.style.scss */
.cform-multiselect ul li:hover {
  color: #000;
  background-color: #aaaaaa;
}
