/* line 22, ../scss/cform.style.scss */
.cform-template, .cform-file .cform-filename, .cform-text input, .cform-text textarea, .cform-checkbox, .cform-select, .cform-multiselect {
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  background-color: #dddddd;
  border: 1px solid #333333;
  cursor: pointer;
}
/* line 30, ../scss/cform.style.scss */
.cform-template:hover, .cform-file .cform-filename:hover, .cform-text input:hover, .cform-text textarea:hover, .cform-checkbox:hover, .cform-select:hover, .cform-multiselect:hover {
  border-color: #0066ff;
}
/* line 35, ../scss/cform.style.scss */
.cform-template:focus, .cform-file .cform-filename:focus, .cform-text input:focus, .cform-text textarea:focus, .cform-checkbox:focus, .cform-select:focus, .cform-multiselect:focus, .cform-template:active, .cform-file .cform-filename:active, .cform-text input:active, .cform-text textarea:active, .cform-checkbox:active, .cform-select:active, .cform-multiselect:active {
  border-color: #0066ff;
  outline: 0;
}

/* line 41, ../scss/cform.style.scss */
.cform-control-template, .cform-submit input, .cform-button button, .cform-file .cform-control, .cform-select .cform-control {
  padding: 5px 10px;
  margin: 0;
  background-color: #333333;
  border: 1px solid #333333;
  box-sizing: border-box;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}
/* line 53, ../scss/cform.style.scss */
.cform-control-template:hover, .cform-submit input:hover, .cform-button button:hover, .cform-file .cform-control:hover, .cform-select .cform-control:hover {
  background-color: #0066ff;
  outline: 0;
}

/* line 60, ../scss/cform.style.scss */
.cform-submit input {
  text-align: center;
}

/* line 66, ../scss/cform.style.scss */
.cform-button button {
  text-align: center;
}

/* line 72, ../scss/cform.style.scss */
.cform-file {
  position: relative;
}
/* line 75, ../scss/cform.style.scss */
.cform-file .cform-control {
  width: 120px;
  text-align: center;
}
/* line 82, ../scss/cform.style.scss */
.cform-file .cform-filename {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0;
  padding-left: 10px;
  line-height: 2em;
  font-size: 0.75em;
}

/* line 95, ../scss/cform.style.scss */
.cform-text input {
  padding: 5px 10px;
  color: #000;
}
/* line 100, ../scss/cform.style.scss */
.cform-text textarea {
  padding: 5px 10px;
  color: #000;
}

/* line 107, ../scss/cform.style.scss */
.cform-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 117, ../scss/cform.style.scss */
.cform-checkbox .cform-marker {
  display: none;
  width: 10px;
  height: 10px;
  background-color: #0066ff;
}
/* line 124, ../scss/cform.style.scss */
.cform-checkbox.checked .cform-marker {
  display: block;
}

/* line 130, ../scss/cform.style.scss */
.cform-select {
  padding: 0;
  position: relative;
  border: none;
}
/* line 141, ../scss/cform.style.scss */
.cform-select ul {
  position: absolute;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 159, ../scss/cform.style.scss */
.cform-select ul li {
  padding: 4px 8px;
}
/* line 162, ../scss/cform.style.scss */
.cform-select ul li.selected {
  color: #fff;
  background-color: #0066ff;
}
/* line 166, ../scss/cform.style.scss */
.cform-select ul li:hover {
  color: #000;
  background-color: #aaaaaa;
}
/* line 174, ../scss/cform.style.scss */
.cform-select:hover ul {
  max-height: 1000px;
}

/* line 180, ../scss/cform.style.scss */
.cform-multiselect {
  padding: 0;
}
/* line 184, ../scss/cform.style.scss */
.cform-multiselect ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: hidden;
  background-color: #dddddd;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 196, ../scss/cform.style.scss */
.cform-multiselect ul li {
  padding: 4px 8px;
}
/* line 199, ../scss/cform.style.scss */
.cform-multiselect ul li.selected {
  color: #fff;
  background-color: #0066ff;
}
/* line 203, ../scss/cform.style.scss */
.cform-multiselect ul li:hover {
  color: #000;
  background-color: #aaaaaa;
}
