/* line 1, ../scss/style.scss */
body {
  font-family: Arial, Sans-Serif;
}

/* line 5, ../scss/style.scss */
.wrapper {
  margin: 0 auto;
  width: 1000px;
}

/* line 10, ../scss/style.scss */
.row {
  padding: 10px 0;
}
/* line 13, ../scss/style.scss */
.row .col33 {
  padding: 0 10px;
  width: 33.33%;
  box-sizing: border-box;
  float: left;
}

/* line 22, ../scss/style.scss */
.row:before,
.row:after {
  content: "";
  display: table;
}

/* line 27, ../scss/style.scss */
.row:after {
  clear: both;
}

/* line 31, ../scss/style.scss */
.row {
  zoom: 1;
  /* ie 6/7 */
}

/* line 35, ../scss/style.scss */
label {
  display: block;
  margin: 0 0 10px 0;
}

/* line 40, ../scss/style.scss */
textarea {
  width: 100%;
}
