@import "compass/css3";
@import "compass/utilities";

// COLORS USED

$color: 				#2A5170;	
$color-light: 			#1162A0;
$color-dark: 			#2A3741;

$color-sec: 			#529632;	
$color-sec-light: 		#4CD70A;
$color-sec-dark: 		#415736;

$color-ter: 			#B6CCDD;

// ELEMENT COLORS

$c-input-bg: 			$color-ter;
$c-input-border: 		$color;
$c-input-border-hover: 	$color-dark;
$c-input-text: 			$color-dark;

$c-checkbox-marker:		$color;

$c-control-bg:			$color-dark;
$c-control-hover:		$color-sec;

$c-select-bg:			$color-ter;
$c-select-highlight:	$color-light;
$c-select-hover:		$color-sec;

$control-font-size:		1em;

.cform-hidden {
	position: absolute; top: 0; left:0;
	display: inline-block;
	width: 0; height: 0;
	margin: 0; padding: 0;
	border: 0; outline: 0;	
	visibility: hidden;
	overflow: hidden;
}

.cform-template-input {
	padding: 3px; margin: 0;
	box-sizing: border-box;
	background-color: $c-input-bg;
	border: 1px solid $c-input-border;

	cursor: pointer;

	&:hover {
		border-color: $c-input-border-hover;
	}

	&:focus,
	&:active {
		border-color: $c-input-border-hover;
		outline: 0;
	}
}

.cform-control-template {
	position: relative;
	padding:5px 10px; margin: 0;
	background-color: $c-control-bg;
	border: 1px solid $c-control-bg;
	box-sizing: border-box;

	font-size: $control-font-size;

	color: #fff;
	cursor: pointer;


	&:hover {
		background-color: $c-control-hover;
		outline: 0;
	}
}

.cform-submit {
	input {
		@extend .cform-control-template;
		text-align: center;
	}
}
.cform-button {
	button {
		@extend .cform-control-template;
		text-align: center;
	}
}

.cform-file {
	position: relative;

	.cform-control {
		@extend .cform-control-template;

		width:120px;
		text-align: center;
	
	}
	.cform-filename {
		@extend .cform-template-input;

		position: absolute;
		top: 0; bottom: 0; left: 120px; right: 0;
		padding-left: 10px;
		line-height: 2em;
		font-size: 0.75em;
		overflow: hidden;
	}
}


.cform-text {
	input{
		@extend .cform-template-input;
		padding:5px 10px;
		color: $c-input-text;
	}
	textarea{
		@extend .cform-template-input;
		padding:5px 10px;
		color: $c-input-text;
	}
}

.cform-checkbox {
	@extend .cform-template-input;

	position: relative;	
	display: inline-block;
	width: 18px; height: 18px;
	box-sizing: border-box;

	cursor: pointer;

	.cform-marker {
		display: none;
		width:10px; height: 10px;
		background-color: $c-checkbox-marker;
	}

	&.checked {
		.cform-marker {
			display: block;
		}
	}
}

.cform-radio {
	@extend .cform-template-input;

	position: relative;	
	display: inline-block;
	width: 18px; height: 18px;
	box-sizing: border-box;

	@include border-radius(9px);

	cursor: pointer;

	.cform-marker {
		display: none;
		width:10px; height: 10px;
		background-color: $c-checkbox-marker;

		@include border-radius(5px);
	}

	&.checked {
		.cform-marker {
			display: block;
		}
	}
}

.cform-select {
	@extend .cform-template-input;
	padding: 0;

	position: relative;
	border: none;

	.cform-control {
		@extend .cform-control-template;
	}

	ul {
		position: absolute;
		top: 100%; left: -1px; // -1px because of border
		margin: 0; padding: 0;
		width: 100%;
		max-height: 0px;

		list-style: none;

		overflow: hidden;

		background-color: $c-select-bg;
		border-left: 1px solid $c-select-bg;
		border-bottom: 1px solid $c-select-bg;
		border-right: 1px solid $c-select-bg;
	
		@include transition(all .5s linear); 

		li {
			padding: 4px 8px;
			color:	$color;

			&.selected {
				color: #fff;
				background-color: $c-select-highlight;
			}
			&:hover {
				color: #fff;
				background-color: $c-select-hover;
			}
		}
	}

	&.active {
		ul {
			max-height: 1000px;
		}
	}
}

.cform-multiselect {
	@extend .cform-template-input;
	padding: 0;

	ul {
		margin: 0; padding: 0;
		width: 100%;

		list-style: none;

		overflow: hidden;

		background-color: $c-select-bg;
	
		@include transition(all .5s linear); 

		li {
			padding: 4px 8px;
			color:	$color;

			&.selected {
				color: #fff;
				background-color: $c-select-highlight;
			}
			&:hover {
				color: #fff;
				background-color: $c-select-hover;
			}
		}
	}
}

.chevron::before {
	content: '';
	position: absolute;
	top: 7px; right: 10px;
	display: inline-block;
	width: 0.45em; height: 0.45em; 

	border-style: solid;
	border-width: 0.15em 0.15em 0 0;

	vertical-align: center;

	transform: rotate(-45deg);
}
.chevron.bottom:before {
	transform: rotate(135deg);
}