@import "compass/css3";
@import "compass/utilities";

$background-color: 		#dddddd;
$border-color: 			#333333;
$marker-color:			#0066FF;
$hover-color:			#0066FF;

$control-font-size:		1em;
$control-bg-color:		#333333;

$list-bg-color:			#aaa;

.cform-hidden {
	// display: inline-block;
	// width: 0; height: 0;
	// margin: 0; padding: 0;
	// border: 0; outline: 0;	
	// visibility: hidden;
}

.cform-template {
	padding: 3px; margin: 0;
	box-sizing: border-box;
	background-color: $background-color;
	border: 1px solid $border-color;

	cursor: pointer;

	&:hover {
		border-color: $hover-color;
	}

	&:focus,
	&:active {
		border-color: $hover-color;
		outline: 0;
	}
}

.cform-control-template {
	padding:5px 10px; margin: 0;
	background-color: $control-bg-color;
	border: 1px solid $control-bg-color;

	font-size: $control-font-size;

	color: #fff;
	cursor: pointer;


	&:hover {
		background-color: $hover-color;
		outline: 0;
	}
}

.cform-submit {
	input {
		@extend .cform-control-template;
	}
}
.cform-button {
	button {
		@extend .cform-control-template;
	}
}


.cform-text {
	input{
		@extend .cform-template;
		padding:5px 10px;
		color: #000;
	}
	textarea{
		@extend .cform-template;
		padding:5px 10px;
		color: #000;
	}
}

.cform-checkbox {
	@extend .cform-template;

	position: relative;	
	display: inline-block;
	width: 18px; height: 18px;
	box-sizing: border-box;

	cursor: pointer;

	.cform-marker {
		display: none;
		width:10px; height: 10px;
		background-color: $marker-color;
	}

	&.checked {
		.cform-marker {
			display: block;
		}
	}
}

.cform-select {
	@extend .cform-template;
	padding: 0;

	position: relative;
	border: none;

	.cform-control {
		@extend .cform-control-template;
	}

	ul {
		position: absolute;
		top: 100%; left: -1px; // -1px because of border
		margin: 0; padding: 0;
		width: 100%;
		max-height: 0px;

		list-style: none;

		overflow: hidden;

		background-color: $background-color;
		border-left: 1px solid $background-color;
		border-bottom: 1px solid $background-color;
		border-right: 1px solid $background-color;
	
		@include transition(all .5s linear); 

		li {
			padding: 4px 8px;

			&.selected {
				color: #fff;
				background-color: $hover-color;
			}
			&:hover {
				color: #000;
				background-color: $list-bg-color;
			}
		}
	}

	&:hover {
		ul {
			max-height: 1000px;
		}
	}
}

.cform-multiselect {
	@extend .cform-template;
	padding: 0;

	ul {
		margin: 0; padding: 0;
		width: 100%;

		list-style: none;

		overflow: hidden;

		background-color: $background-color;
	
		@include transition(all .5s linear); 

		li {
			padding: 4px 8px;

			&.selected {
				color: #fff;
				background-color: $hover-color;
			}
			&:hover {
				color: #000;
				background-color: $list-bg-color;
			}
		}
	}
}