@import "compass/css3";
@import "compass/utilities";

$color: 			#2A5170;	// Main Primary color */
$color-light: 		#1162A0;
$color-dark: 		#2A3741;

$color-sec: 		#529632;	// Main Secondary color (2) */
$color-sec-light: 	#4CD70A;
$color-sec-dark: 	#415736;


body, html {
	font-family: 'Droid Sans', Helvetica, Arial, Sans-Serif;
	color: $color-dark;
	font-size: 1em;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    zoom: 1; /* ie 6/7 */
}

.center {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

header {
	position: fixed;
	top:0px; left:0px; right:0px;
	height: 40px;

	background: $color-dark;
	border-top: 4px solid $color-sec;

	z-index: 9999;

	@include box-shadow(0px 0px 4px 0px $color);

	h1 {
		font-weight: normal;
		line-height: 38px;
		font-size: 20px;
		color: #fff;
		margin: 0;

		small {
			opacity: .5;
		}
	}

	ul {
		position: absolute;
		top: 0; right: 0;
		margin: 0; padding: 0;

		list-style: none;
		border-right: 1px solid $color;
		
		li {
			padding: 10px 30px;
			height: 40px;
			box-sizing: border-box;

			float: left;

			border-left: 1px solid $color;

			cursor: pointer;
			
			background: $color-dark;

			@include transition(background-color .5s linear);

			a {
				@include link-colors(#fff, #fff, #fff, #fff, #fff);
				text-decoration: none;
			}

			&:hover {
				background: $color;

				a {
					@include link-colors(#fff, #fff, #fff, #fff, #fff);
				}
			}
		}
	}
}

#about {
	margin-top: 120px;
	line-height: 1.4em;

	h2 {
		margin: 0 0 10px 0;
		font-size: 2em;
		border:none;
	}
	h3 {
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $color-dark;
		opacity: .5;
	}

	.github {
		text-align: center;
	}

	a {
		@include link-colors($color-light, $color-sec, $color-sec, $color-light, $color-light);
		text-decoration: none;
		
		@include transition(color .25s linear);
	}
}

section {
	margin-bottom: 80px;

	z-index: 9000;

	h2 {
		color: $color-dark;
		border-bottom: 1px solid $color-light;
	}
	h3 {
		font-weight: normal;
		font-size: 1.2em;
		color: $color;
	}
	h4 {
		margin: 0 0 10px 0;
		color: $color;
	}

	i {
		font-style: normal;
		color: $color-sec;
	}

	p {
		margin: 0;
		line-height: 1.4em;
	}

	code {
		margin: 10px;
		display: block;
	}

	label {
		display: block;
		margin: 0 0 10px 0;

		color: $color-dark;
	}

	.row {
		margin-bottom: 30px;
	}

	.col25 {
		box-sizing: border-box;
		width: 25%;
		padding: 0 10px;

		float: left;
	}

	.col50 {
		box-sizing: border-box;
		width: 50%;
		padding: 0 10px;

		float: left;
	}

	.col100 {
		box-sizing: border-box;
		width: 100%;
		padding: 0 10px;

		float: left;
	}

	.checkbox-wrapper,
	.radio-wrapper {
		margin-bottom: 10px;

		.cform-checkbox ,
		.cform-radio{
			float: left;
		}

		label {
			display: inline-block;
			height: 18px;
			margin: 0 0 0 10px;
		}

		&:before,
		&:after {
		    content: "";
		    display: table;
		}
		&:after {
    		clear: both;
		}
    	zoom: 1; /* ie 6/7 */
	}

	textarea {
		width: 100%;
	}

	a {
		@include link-colors($color-light, $color-sec, $color-sec, $color-light, $color-light);
		text-decoration: none;
		
		@include transition(color .25s linear);
	}
}

footer {
	padding: 20px 25%;
	border-top: 1px solid $color-light;

	text-align: center;
	line-height: 1.5em;

	a {
		@include link-colors($color-light, $color-sec, $color-sec, $color-light, $color-light);
		text-decoration: none;
		
		@include transition(color .25s linear);
	}
}
